* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    overflow: hidden;
    background-color: rgb(2, 194, 253);
}

.container {
    width: 30%;
    height: 290px;
    background-color: white;
    margin: 150px auto;
    padding: 20px 10px 0px 55px;
    border-radius: 3px;
    outline: none;
}

.container h3 {
    color: rgb(2, 194, 253);
    margin: 20px 0px 20px 0px;
    font-size: 21px;
}

input {
    display: block;
    width: 85%;
    height: 35px;
    margin-bottom: 15px;
    padding: 10px;
}

input:focus {
    outline: none;
}

input::placeholder {
    color: rgb(158, 157, 157);
}

.button {
    background-color: rgb(2, 194, 253);
    color: white;
    border: none;
    width: 85%;
    height: 35px;
    font-size: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}

p {
    font-size: 12px;
    text-align: right;
    margin-right: 55px;
}

p a {
    text-decoration: none;
}

p a:hover {
    text-decoration: underline;
}